{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./config/config"
        }
      }
    ]
  ],
  "ignore": ["node_modules/*"]
}
